.header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  border-style:solid;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: rgb(40, 40, 40);
  box-shadow: 0px 7px 10px rgba(154, 205, 50, 0.15);;
}

.left-section {
  display: flex;
  width: 300px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 350;
  align-items: center;
  /* border: solid;
  border-color: black; */
}

.title {
  flex: 1;
  margin: -8px;
}

.title-logo {
  height: 60px;
  width: 60px;
}

.middle-section {
  flex: 1;
  /* border: solid;
  border-color: black; */
  margin-left: 80px;
  margin-right: 200px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.input-area {
  width: 300px;
  height: 30px;
  font-size: 14px;
  padding-left: 6px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Poppins;
  font-size: 18px;
  cursor: pointer;
  /* border: solid;
  border-color: red; */
}

.profile-options {
  flex: 1;
  display: flex;
  justify-content: center;
  /* border: solid;
  border-color: red; */
}
